.StyledBox-sc-13pk1d4-0 {
  background-color: "black";
  /* opacity: 0.6; */
  margin: "20px";
  padding: "20px";
}
.fun {
  font-family: "Montserrat Subrayada", sans-serif;
  font-size: 60px;
}

b {
  font-size: 20px;
}
